---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);

const projects = (await getCollection("projects")).slice(0,3);
---

<BaseLayout title="Homepage" sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Kieran</div>
    <div class="text-3xl py-3 font-bold">Student, Developer, and occasional sculptor</div>
    <div class="py-2">
      <text class="text-lg">
        I'm a computer science major, with a minor in philosophy. I love to do open source work, especially in scripting, automation, web development, API's, CLI's and dev ops!
      </text>
    </div>
    <div class="mt-8">
      <a class="btn bg-violet-700 hover:bg-violet-500 text-white font-bold py-2 px-4 border border-violet-700 rounded" href="/contact" target="_blank">Reach Out!</a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>
  <div class="divider my-0"></div>
  {
    projects.map((post) => (
      <>
      
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/astro-redesign/"+post.data.url}
          target="_blank"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }


  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/astro-redesign/blog/" + post.slug}
          target="_self"
          subtitle={post.data.subtitle}
          badge={post.data.badge}
          crosspostURL={post.data.crosspostURL}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
